.thumbs-carousel {
  position: relative;
  z-index: 1;
}

.swiper-button-prev,
.swiper-button-next {
  /* width: 1px !important;
  height: 1px !important;
  font-size: 1px !important;
  padding: 20px !important; */
  color: #000000;
  /* background-color: rgba(255, 255, 255, 0.7); */
  /* border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next {
  right: -2px;
}

.swiper-button-prev {
  left: -2px;
  /* margin-right: 20px; */
}
